.channels__screen {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.channels__button-container {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
	justify-content: center;
}

.channels__title--change {
	margin-bottom: 10px;
}

.channels__button--selected {
	font-weight: 800;
}

.channels__button:hover, .channels__button--selected {
	text-decoration: underline;
}

.channels__button {
	background-color: transparent;
	border: none;
	font-size: 24px;
	font-family: "Simplon Norm";
}

.channels__credit-container {
	padding-top: 10px;
}

.channels__credit-name {
	font-size: 20px;
}

.channels__credit-role, .channels__credit-name {
	text-align: center;
}

.channels__text {
	margin: 16px auto 0px;
	display: flex;
	text-align: left;
	justify-content: center;
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
}

.channels__container {
	display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}

.channels__text--placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.channels__credit-container {
	width: 25%;
}

@media only screen and (max-width: 900px) {
	.channels__credit-container {
		width: 50%;
	}

  .channels__button {
  	font-size: 20px;
  }

  .channels__text {
    width: 100%;
    max-width: 550px;
		margin: 16px auto 0px;
  }
}

@media only screen and (max-width: 450px) {
	.channels__credit-container {
		width: 100%;
	}

	.channels__button {
		font-size: 15px;
	}
  .channels__text {
    width: 100%;
    max-width: 300px;
    font-size: 20px;
		margin: 16px auto 0px;
  }
}
