.info-page__developer-credit {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
}

.info-page__about-curators-container {
	display: flex;
	flex-direction: row;
}

.info-page__about-orgs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.info-page__about-orgs-container {
	flex-basis: 33.33%;
  padding: 30px;
	margin: auto;
	text-align: center;
	align-items: center;
}

.info-page__about-orgs-img {
	width: 200px;
}

.info-page__about-orgs-img--tall {
	width: 100px;
}


.info-page__curator-img {
	width: 250px;
	height: auto;
}

.info-page {
	height: calc(100% - 50px);
  overflow-y: scroll;
}

.info-page__about-project {
	margin-bottom: 30px;
}

.info-page__about-project-title {
	text-decoration: underline;
}

.info-page__curators-title {
	margin-bottom: 5px;
	text-decoration: underline;
}

.info-page__about-curators {
	padding-top: 30px;
}

.info-page {
	padding: 20px;
}

.info-page__curator-text-container {
	padding: 0 0 0 30px;
	text-align: left;
}

.info-page__curator-img-container--desktop {
	display: flex;
	flex-direction: column;
}

.info-page__curator-img-container--mobile {
	display: none;
}

.info-page__about-curators:nth-of-type(1) {
	padding-top: 0;
}

.info-page__curator-img-container {
	align-items: baseline;
}

.info-page__curator-name {
	text-align: center;
	font-size: 14px;
}

@media only screen and (max-width: 600px) {
	p {
		font-size: 14px;
	}
}

@media only screen and (max-width: 800px) {
	.info-page {
		padding: 0;
		height: calc(100% - 10px);
	}

  .info-page__curator-img-container {
    margin: auto;
  }

  .info-page__curator-name {
  	padding-bottom: 15px;
  }

	.info-page__curator-text-container {
		padding: 0 10px 0 0;
	}

  .info-page__about-curators-container {
  	flex-direction: column;
  }

	.info-page__curator-img-container--desktop {
		display: none;
	}

	.info-page__curator-img-container--mobile {
		display: flex;
		justify-content: center;
	}
}

h2 {
	margin:  0;
}

@media only screen and (max-width: 900px) {
	h2 {
		text-align: center;
	}
}
