.tabs__tabs-container {
  overflow: hidden;
  border-left: 2px solid black;
  border-radius: 12px 0 0 0;
}

.tabs__tab-button:nth-of-type(1) {
  border-right: 2px;
  border-radius: 10px 0 0 0;
}

.tabs__tab-button:nth-of-type(3) {
  border-left: 2px;
  border-radius: 10px 0 0 0;
}

.tabs__tab-button:last-of-type {
  border-radius: 0 10px 0 0;
  border-right: 2px solid black;
}

.tabs__tab-button:hover .tabs__tab-button-text, .tabs__tab-button:focus .tabs__tab-button-text {
  text-decoration: underline;
}

.tabs__tab-button {
  border: 1px solid black;
  border-top-width: 2px;
  background-color: #736e6e75;
  font-size: 20px;
  position: relative;
  padding: 15px;
  font-family: "Simplon Norm";
  outline: 0;
}

.tabs__tab-button--active {
  border-bottom: 0;
  background-color: transparent;
}

.tabs__tab-button:nth-of-type(1) {
  border-left: 0;
}

.tabs__tab-button:nth-of-type(3):after {
  content: '';
  position: absolute;
  height: 3px;
  width: 1000px;
  background-color: black;
  bottom: -2px;
  margin-left: 15px;
}

.tabs__tab-content {
  padding: 10px;
  border: 2px solid black;
  border-top: 0;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .tabs__tab-button {
    width: 33.33%;
  }
  .tabs__tab-content {
    height: calc(100vh - 100px);
  }
  .tabs__tab-button:nth-of-type(3):after {
    margin-left: 71px;
  }
}

.tabs__tab-content--scroll {
  height: fit-content;
}
