.video-responsive {
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 800px;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


@media only screen and (max-width: 900px) {
  .video-responsive {
    height: 300px;
    width: 550px;
  }
}

@media only screen and (max-width: 450px) {
  .video-responsive {
    height: 175px;
    width: 300px;
  }
}
