button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@font-face {
  font-family: "Simplon Norm";
  src: url("./fonts/SimplonNorm-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Simplon Norm";
  src: url("./fonts/SimplonNorm-RegularItalic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Simplon Norm";
  src: url("./fonts/SimplonNorm-Bold.otf") format("opentype");
  font-weight: 800;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin-top: 0;
}

*:focus {
  outline: 4px solid grey;
  outline-style: inset;
}

body {
  font-family: "Simplon Norm";
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 8px;
  }
}
