@font-face {
  font-family: "Simplon Norm";
  src: url("./fonts/SimplonNorm-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Simplon Norm";
  src: url("./fonts/SimplonNorm-RegularItalic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Simplon Norm";
  src: url("./fonts/SimplonNorm-Bold.otf") format("opentype");
  font-weight: 800;
}


.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h2 {
  margin-top: 0;
}

body {
  font-family: "Simplon Norm";
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 8px;
  }
}
